<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @idea.status.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @idea.category.name %>
</p>

<% if @vote.nil? %>
<p>
  <%= button_to 'Vote up', action: 'action_vote', vote_up: true %>
</p>
<% else %>
<p>
  <%= button_to 'Vote down', action: 'action_vote' %>
</p>
<% end %>

<% if @idea.attachment_file_name %>
<p>
  <strong>Attachment:</strong>
  <br>
  <%= image_tag @idea.attachment.url(:small) %>
</p>
<% end %>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
