<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @idea.vote %>
</p>

<p>
  <strong>Status:</strong>
  <%= @idea.status_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @idea.category_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @idea.customer_id %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
